<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input
      matInput
      required
      placeholder="i.e john_doe_11"
      formControlName="username"
      id="username"
      name="username"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      required
      type="password"
      formControlName="password"
      id="password"
      name="password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>
</form>
